<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nouveau utilisateur</h1>
    <form action="ajoutUser" method="post">
        <ul>
            <label for="nom">Nom</label>
            <input name="nom" id="nom" type="text" /><br>
            <label for="prenom">Prénom</label>
            <input name="prenom" id="prenom" type="text" /><br>
            <label for="tel">Téléphone</label>
            <input name="tel" id="tel" type="text" /><br>
            <button type="submit">Envoyer</button>
        </ul>
    </form>    
</body>
</html>