<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nouveau véhicule</h1>
    <form action="ajoutVoiture" method="post">
        <ul>
            <label for="nom">Nom</label>
            <input name="nom" id="nom" type="text" /><br>
            <label for="modele">Modèle</label>
            <input name="modele" id="modele" type="text" /><br>
            <label for="marque">Marque</label>
            <input name="marque" id="marque" type="text" /><br>
            <label for="matricule">Matricule</label>
            <input name="matricule" id="matricule" type="text" /><br>
            <label for="statut">Statue</label>
            <input name="statue" id="statue" type="text" /><br>
            <button type="submit">Envoyer</button>
        </ul>
    </form>    
</body>
</html>